@import "tailwindcss";
@theme {
    --color-gray100: oklch(0.898 0 89.876);
    --color-gray200: oklch(0.676 0 89.876);
    --color-gray300: oklch(0.289 0 89.876);
    --color-bg: oklch(0.182 0 89.876);

    --color-pink100: oklch(0.641 0.251 12.483);
}
@layer utilities {
    .grid-auto-fill-110 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }
    .grid-auto-fill-120 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    .grid-auto-fill-250 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .fade-right {
        background-image: linear-gradient(90deg, black 65%, transparent);
    }
    .input-style {
        width: 100%;
        background-color: white;
        border: 2px solid #f3f4f6;
        border-radius: 8px;
        padding: 10px;
        &::placeholder {
            color: gray;
        }
        &:focus {
            outline: none;
            border: 2px solid #3b82f6;
        }
    }
    .error-message {
        @apply w-full text-pink100 text-xs;
    }
    .animate-skeleton {
        border-radius: 6px;
        background: linear-gradient(to right, var(--color-gray200) 0%, var(--color-gray100) 50%, var(--color-gray200) 100%);
        background-size: 200% 100%;
        animation: 1.7s skeletonGradientWave linear infinite;
    }
    .loader {
        width: 30px;
        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%,#0000);
        background:
                var(--_g) 0    50%,
                var(--_g) 50%  50%,
                var(--_g) 100% 50%;
        background-size: 25% 50%;
        animation: l3 1s infinite linear;
    }
}
@keyframes skeletonGradientWave {
    to {
        background-position-x: -200%;
    }
}

@keyframes l3 {
    20%{background-position:0    0,  50%  50%,100%  50%}
    40%{background-position:0  100%, 50%   0, 100%  50%}
    60%{background-position:0   50%, 50% 100%,100%    0}
    80%{background-position:0   50%, 50%  50%,100% 100%}
}