.catContainer {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 10vw;
  gap: 20px;
  margin: 2%; */
  display: flex;
  justify-content: space-evenly;
  height: 10vw;
  gap: 2vw;
  padding: 10px;
  margin-right: 0;
}

.now-playing {
  background-image: url('../public/images/now-playing.jpg');
}
.popular {
  background-image: url('../public/images/popular.jpg');
}
.top-rated {
  background-image: url('../public/images/top-rated.jpg');
}
.up-coming {
  background-image: url('../public/images/up-coming.jpg');
}