.movie-container {
  display: grid;
  /* grid-template-columns : 열의 배치
  fr : 가변 크기, 비율대로 크기를 나눔
  repeat(반복 횟수, 반복 값) : 횟수만큼 반복되는 값을 처리
  같은 비율의 9개 열을 생성. */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  text-decoration: none;
}
.card-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}
