#title {
  text-align: center;
  padding: 50px;
}
hr {
  align-items: center;
  width: 70%;
  border: 0;
  height: 2px;
  background: #b0cadd;
}
#input {
  display: flex;
  justify-content: center;
  margin: 30px;
}
input {
  width: 60%;
  height: 40px;
  border-width: 2px;
}
input::placeholder {
  color: #b0b0b0;
  font-style: italic;
}
/* #list-container {
  display: flex;
  flex-direction: column;
} */
#list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px;
}
#todo-title, #done-title {
  justify-content: center;
  border-bottom: 3px solid #b0cadd;
}
#list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px;
}
#todo, #done {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#todo-list, #done-list {
  padding: 0;
}
.list-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  border-bottom: 3px solid #b0cadd;
  justify-content: space-between;
  padding: 10px 0;
  margin: 10px 0;
}
.list-item p {
  margin: 0;
}
.done-button, .delete-button {
  flex-basis: content;
  background: #b0cadd;
  border: none;
  cursor: pointer;
}